<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="public/png" href="/Mini.png" />
<<<<<<< Updated upstream
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css" />

=======
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
>>>>>>> Stashed changes
    <title>Homepage</title>
  </head>

  <header>
    <div class="banner">
      <p class="verzending_banner">
        GRATIS VERZENDING BIJ AANKOOP VAN MIJN EERSTE PINDA IN 3 OF 6 STAPPEN +
        MIJN EERSTE PINDA OPVOLGKIT
      </p>
    </div>
    
    <nav>
      <img class="vinimini-logo" src="/Logo-vini-m.webp" alt="viniminilogo" />
      <ul>
        <li>Alle producten</li>
        <li>Speciaal voor uw mini</li>
        <li>Kalender</li>
        <li>Over ons</li>
        <li>Contact</li>
      </ul>

      <div class="icon">
        <img src="/shopping-cart.svg" alt="iconshoppingcar" />
        <img src="/user.svg" alt="iconuser" />
        <span>Jennifer</span>
      </div>
    </nav>
  </header>

  <body></body>
</html>
