<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="public/png" href="/Mini.png" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />

    <title>Homepage</title>

  </head>

    <div class="banner">
      <p class="verzending_banner">
        GRATIS VERZENDING BIJ AANKOOP STARTKIT + OPVOLGKIT
      </p>
    </div>
    
  <header>


    <img class="vinimini-logo" src="/Logo-vini-m.webp" alt="viniminilogo" />
    <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    
    <nav>
      </div>
      <ul>
        <li><a href="#">Alle producten</a></li>
        <li><a href="#">Speciaal voor uw mini</a></li>
        <li><a href="#">Kalender</a></li>
        <li><a href="#">Over ons</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

   

      <div class="icon">
        <img src="/shopping-cart.svg" alt="iconshoppingcar" />
        <img src="/user.svg" alt="iconuser" />
        <span>Jennifer</span>
      </div>

    </nav>
  </header>

  <body></body>
</html>
