<%- include('./partials/head') %>
<img
  src="https://media.graphassets.com/IeYFIGHBRNCKL9mHR1A9"
  class="headerfoto"
/>

<h1>Welk product past bij mijn Mini?</h1>

<button>Doe de test -></button>
<button>Bekijk producten -></button>
<%- include('./partials/foot') %>
