<%- include('./partials/head-ingelogd') %>

<h2 class="welkom-mini"> Welkom, Maaike </h2>

<p>
  Beantwoord een paar simpele vragen voor het advies en schema voor jouw Mini
  (ontwikkeld in samenwerking met kinderarts-allergoloog en conform richtlijnen
  DAVO-diëtisten)
</p>


<div class="homepage-btn">
  <button class="test-btn"><a href="/speciaalvoormini">Speciaal voor uw Mini</a></button>
  <button class="producten-btn">
    <a href="/alleproducten"> Alle producten</a>
  </button>
</div>


<img
  src="https://media.graphassets.com/IeYFIGHBRNCKL9mHR1A9"
  class="headerfoto"
/>

<p>
  Beantwoord een paar simpele vragen voor het advies en schema voor jouw Mini
  (ontwikkeld in samenwerking met kinderarts-allergoloog en conform richtlijnen
  DAVO-diëtisten)
</p>

<img class="headerfoto" src="/avocado-baby.jpeg" alt="" />

<h2>Mijn eerste Startkit in 3 of 6 stappen</h2>

<p>
  Als jouw Mini onze "mijn eerste Startkit in 3 of 6 stappen" probleemloos
  doorlopen heeft, is het belangrijk dat om wekelijks allergenen te blijven
  geven. Hiervoor kun je onze mijn eerste pinda en/of cashew Opvolgkit
  gebruiken. Voordat je onze producten koopt doe altijd de Vini Mini test.
</p>

<img class="headerfoto" src="/ceo-vini-mini.webp" alt="" />

<h2>Over ons</h2>

<p>
  Onze wereld veranderde toen we moeders werden; helemaal toen het zoontje van
  Laurie een ernstige allergische reactie kreeg toen hij 6 maanden oud was.
  Gelukkig kon door het vroeg en vaak geven van pinda's en noten bij hem een
  pinda- en notenallergie worden voorkomen. Hieruit werd Vini Mini geboren,
  omdat wij vinden dat iedere Mini recht heeft op een gezond, gelukkig en
  zorgeloos leven!
</p>

<%- include('./partials/foot') %>
