<%- include('./partials/head.ejs') %> 

<div id="progress"></div>

<div class="center">
    <div id="register">

        <i id="progressButton" class="ion-android-arrow-forward next"></i>

        <div id="inputContainer">
            <input id="inputField" required autofocus />
            <label id="inputLabel"></label>
            <div id="inputProgress"></div>
        </div>

    </div>
</div>

<!-- <h2>Hoe heet jouw mini?</h2>

<h2>Wat is de geboorte datum van jouw Mini?</h2>

<h2>Is het je eerste Mini?</h2>

<h2>Hoe oud is jouw Mini?</h2>

<h2>Heeft jouw Mini eerder een acute allergische reactie gehad na het eten?</h2>

<h2>Heeft jouw Mini eczeem?</h2>

<h2>Zijn er voedingsallergieën in de rest van het gezin?</h2> -->

<%- include('./partials/foot.ejs') %>