<%- include('./partials/head.ejs') %>

<h3>Hoe heet jouw mini?</h3>

<h3>Wat is de geboortedatum van jouw mini?</h3>

<h3>Is het je eerste mini?</h3>

<h3>Hoe oud is jouw mini?</h3>

<h3>Heeft jouw Mini eerder een acute allergische reactie gehad na het eten?</h3>

<h3>Heeft jouw Mini eczeem?</h3>

<h3>Zijn er voedselallergieën in de rest van het gezin?></h3>

<%- include('./partials/foot.ejs') %>
