* {
  box-sizing: border-box;
  margin: 0;
  font-family: montserrat, sans-serif, Helvetica;
  list-style: none;
  text-decoration: none;
}

/* -----CUSTOM PROPERTIES----- */

:root {
  --yellow: #f4eb34;
  --Aqua-green: #73aea6;
  --Black: #000000;
  --Grey: #fafafa;
  --Lightblue: #daeeee;
}

/* -----BANNER----- */

.banner {
  background-color: var(--yellow);
  padding: 1em;
  width: 100%;
}

.verzending_banner {
  text-align: center;
}

/* -----LOGO----- */

.vinimini-logo {
  margin: 1em;
  margin-left: 1em;
  width: 8em;
}

/* -----IMAGE----- */

.headerfoto {
  width: 100vw;
  margin-bottom: 3em;
  margin-top: 0.5em;
  opacity: 80%;
  z-index: -1;
}

/* -----MENU/NAV----- */

nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
}

ul {
  list-style-type: none;
  display: flex;
  gap: 4em;
  font-family: montserrat, sans-serif;
  margin-top: 60px;
  margin-left: 1em;
  font-style: var(--Black);
  z-index: 1;
}

/* nav {
  justify-content: space-around;
  align-items: center;
}


/* header {
  width: 100%;
  height: 80%;
  color: var(--Black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
} */


/* -----FOOTER STYLING----- */

.ul_footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 13px;
  margin: 0.5em;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.footer_ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: left;
  margin-bottom: 2em;
}

.first-color {
  color: var(--Aqua-green);
  font-size: 15px;
  font-weight: 900;
}

.certified {
  margin-top: 2.6rem;
  width: 80px;
  height: 110px;
  margin-left: 2em;
}

.copyright {
  padding-left: 5em;
  padding-bottom: 5em;
  font-size: 11px;
}

@media screen and (min-width: 800px) {
  .footer_ul {
    display: flex;
    margin: 2em;
    justify-content: center;
  }
  .certified {
    margin-left: 0;
  }
  .copyright {
    text-align: right;
    padding-right: 5rem;
  }
}
