* {
  box-sizing: border-box;
  margin: 0;
  font-family: montserrat, sans-serif, Helvetica;
  list-style: none;
  text-decoration: none;
}

/* -----CUSTOM PROPERTIES----- */

:root {
  --yellow: #f4eb34;
  --Aqua-green: #73aea6;
  --Black: #000000;
  --Grey: #fafafa;
  --Lightblue: #daeeee;
}

/* -----BANNER----- */

.banner {
  background-color: var(--yellow);
  padding: 1em;
  width: 100%;
}

.verzending_banner {
  text-align: center;
}

/* -----LOGO----- */

.vinimini-logo {
  margin: 1em;
  margin-left: -7em;
  width: 80%;
  height: 50%;
}

/* -----MENU----- */

header {
  width: 100%;
  height: 80%;
  color: var(--Black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

nav {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  height: auto;
  width: 100%;
}

a:hover {
  color: var(--Aqua-green);
  transition: 0.5s;
}

.hamburger {
  display: none;
}

nav ul {
  display: flex;
}

nav ul li a {
  display: block;
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background: var(--Black);
  margin: 6px 0;
}

.hamburger {
}

nav {
  /* display: none; */
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 100vw;
  color: var(--Black);
  transition: 0.2s;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 4rem;
  margin-top: 8rem;
  padding-right: 2px;
  margin-left: 1rem;
  list-style: none;
}

h1 {
  color: var(--Aqua-green);
  font-size: 3em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: -2.5em;
}

/* @media screen and (max-width: 300px) {
  .banner {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  ul {
    display: none;
  }
} */

/* -----FOOTER STYLING----- */

.ul_footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 13px;
  margin: 0.5em;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.footer_ul {
  display: flex;
  margin: 2em;
  justify-content: center;
}

.first-color {
  color: var(--Aqua-green);
  font-size: 15px;
  font-weight: 900;
}

.certified {
  margin-top: 2.6rem;
  width: 80px;
  height: 110px;
}

.copyright {
  margin-top: -2em;
  margin-left: 85em;
  font-size: 10px;
}

@media screen and (min-width: 800px) {
  .footer_ul {
    display: none;
  }
}

/* @media screen and (min-width: 800px) {
  .copyright {
    display: none;
  }
} */
