* {
  box-sizing: border-box;
  margin: 0;
  font-family: montserrat, sans-serif, Helvetica;
  list-style: none;
  text-decoration: none;
}

/* -----CUSTOM PROPERTIES----- */

:root {
  --yellow: #f4eb34;
  --Aqua-green: #73aea6;
  --Black: #000000;
  --Grey: #fafafa;
  --Lightblue: #daeeee;
}

/* -----BANNER----- */

.banner {
  background-color: var(--yellow);
  padding: 1em;
  width: 100%;
  position: relative;
  height: 2.8rem;
  font-size: 0.8rem;
}

.verzending_banner {
  text-align: center;
}

/* -----ICON----- */

.icon {
  display: flex;
  align-items: center;
  gap: 0.8em;
  margin-left: 3em;
  padding-right: 6em;
  color: var(--darkblue);
}

/* -----LOGO----- */

.vinimini-logo {
  margin: 1em;
  margin-left: 1em;
  width: 8em;
}

/* -----IMAGE----- */

.headerfoto {
  width: 100vw;
  margin-bottom: 3em;
  margin-top: 0.5em;
  opacity: 60%;
  z-index: -1;
}

/* -----MENU/NAV----- */

nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
}

ul {
  list-style-type: none;
  display: none;
}

/* -----NAV MOBILE DROPDOWN----- */

/* Style The Dropdown Button */
.dropbtn {
  background-color: var(--Aqua-green);
  color: var(--Aqua-green);
  font-size: 16px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  width: 60px;
  border: none;
  border-radius: 0.5em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  margin-left: 80px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  width: 30px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: var(--Aqua-green);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* -----BUTTON----- */

.test-btn {
  border: 1.5px solid var(--Aqua-green);
  color: var(--Aqua-green);
  border-radius: 30px;
  background-color: white;
  padding: 1em 1.5em 1em 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  /* margin-top: 1em;
  margin-left: 0.5em; */
}

.producten-btn {
  border: 1.5px solid var(--Aqua-green);
  color: var(--Aqua-green);
  border-radius: 30px;
  background-color: white;
  padding: 1em 1.5em 1em 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-left: 2em;
}

.homepage-btn {
  padding-bottom: 1em;
  text-align: center;
  padding-top: 1em;
}

button:hover {
  background-color: var(--Aqua-green);
  color: white;
  transition: 0.3s ease-in-out;
}

/* -----HEADER----- */

h2 {
  color: var(--Aqua-green);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.6em;
  margin-top: 1em;
  margin-left: 0.7em;
}

p {
  margin-left: 1em;
  margin-bottom: 1em;
}

/* -----FOOTER STYLING----- */

.ul_footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 13px;
  margin: 0.5em;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.footer_ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: left;
  margin-bottom: 2em;
}

.first-color {
  color: var(--Aqua-green);
  font-size: 15px;
  font-weight: 900;
}

.certified {
  margin-top: 2.6rem;
  width: 80px;
  height: 110px;
  margin-left: 2em;
}

.copyright {
  padding-left: 5em;
  padding-bottom: 5em;
  font-size: 11px;
}

@media screen and (min-width: 800px) {
  .footer_ul {
    display: flex;
    margin: 2em;
    justify-content: center;
  }
  .certified {
    margin-left: 0;
  }
  .copyright {
    text-align: right;
    padding-right: 5rem;
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 4em;
    font-family: montserrat, sans-serif;
    margin-top: 60px;
    margin-left: 1em;
    font-style: var(--Black);
    z-index: 1;
  }
}
