* {
  box-sizing: border-box;
  /* border: solid black 1px; */
  margin: 0;
  font-family: montserrat, sans-serif, Helvetica;
  list-style: none;
  text-decoration: none;
}

/* -----CUSTOM PROPERTIES----- */

:root {
  --yellow: #f4eb34;
  --Aqua-green: #73aea6;
  --Black: #000000;
  --Grey: #fafafa;
  --Lightblue: #daeeee;
  --Darkblue: #152a42;
}

/* -----BANNER----- */

.banner {
  background-color: var(--yellow);
  padding: 1em;
  width: 100%;
  position: relative;
  height: 2.8rem;
  font-size: 0.8rem;
}

.verzending_banner {
  text-align: center;
}

/* -----ICON----- */

.icon {
  display: flex;
  align-items: center;
  gap: 0.8em;
  margin-left: 3em;
  padding-right: 6em;
  color: var(--darkblue);
}

/* -----LOGO----- */

.vinimini-logo {
  margin: 1em;
  margin-left: 1em;
  width: 8em;
}

/* -----IMAGE----- */

.headerfoto {
  width: 100vw;
  margin-bottom: 0.9em;
  margin-top: 0.5em;
  opacity: 60%;
  z-index: -1;
}

/* -----MENU/NAV----- */

nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
}

ul {
  list-style-type: none;
  display: none;
}

/* -----NAV MOBILE DROPDOWN----- */

/* Style The Dropdown Button */
.dropbtn {
  background-color: var(--Aqua-green);
  color: var(--Aqua-green);
  font-size: 16px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  /* width: 30px; */
  border: none;
  border-radius: 0.5em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  margin-left: 80px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  width: 30px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: var(--Aqua-green);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* -----BUTTON----- */

.test-btn {
  border: 1.5px solid var(--Aqua-green);
  color: var(--Aqua-green);
  border-radius: 30px;
  background-color: white;
  padding: 1em 1.5em 1em 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  /* margin-top: 1em;
  margin-left: 0.5em; */
}

.producten-btn {
  border: 1.5px solid var(--Aqua-green);
  color: var(--Aqua-green);
  border-radius: 30px;
  background-color: white;
  padding: 1em 1.5em 1em 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-left: 2em;
}

.homepage-btn {
  padding-bottom: 1em;
  text-align: center;
  padding-top: 1em;
  margin-bottom: 1em;
}

button:hover {
  background-color: var(--Aqua-green);
  color: white;
  transition: 0.3s ease-in-out;
}

/* -----HEADER----- */

h2 {
  color: var(--Aqua-green);
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 0.9em;
  margin-left: 0.7em;
  font-weight: bold;
}

p {
  margin-left: 1em;
  margin-bottom: 4em;
  /* font-weight: bold */
}

.homepage-top {
  margin-left: 1em;
  margin-bottom: 1em;
  /* font-weight: bold */
}

/* -----FOOTER STYLING----- */

.ul_footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 13px;
  margin: 0.5em;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.footer_ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: left;
  margin-bottom: 2em;
}

.first-color {
  color: var(--Aqua-green);
  font-size: 15px;
  font-weight: 900;
}

.certified {
  margin-top: 2.6rem;
  width: 80px;
  height: 110px;
  margin-left: 2em;
}

.copyright {
  padding-left: 5em;
  padding-bottom: 5em;
  font-size: 11px;
}

@media screen and (min-width: 800px) {
  .footer_ul {
    display: flex;
    margin: 2em;
    justify-content: center;
  }
  .certified {
    margin-left: 0;
  }
  .copyright {
    text-align: right;
    padding-right: 5rem;
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 4em;
    font-family: montserrat, sans-serif;
    margin-top: 60px;
    margin-left: 1em;
    font-style: var(--Black);
    z-index: 1;
  }
  .dropbtn {
    display: none;
  }
}

/* -----INLOGPAGINA----- */

.inlog {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.inlog-background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 45%;
  object-fit: cover;
  object-position: center;
}

.formulier {
  position: relative;
  background-color: white;
  border: none;
  margin-top: -5em;
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
}

.inlog-titel {
  text-align: center;
  font-size: 1.6rem;
  color: var(--Aqua-green);
  margin-bottom: 2rem;
  font-weight: 500;
}

.content {
  row-gap: 2rem;
  margin-bottom: 1rem;
}

.content,
.inlog-box {
  display: grid;
}

.inlog-box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 1.5rem;
  border-bottom: 1px solid lightgrey;
}

.inlog-box__input {
  position: relative;
  border: none;
}

.inlog-box__input {
  position: relative;
  border: none;
}

.inlog-icoon,
.login-eye {
  font-size: 1.25rem;
}

.inlog-input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  border: transparent;
  color: var(--Darkblue);
  position: relative;
  z-index: 1;
}

.inlog-label {
  position: absolute;
  left: 0;
  top: 13px;
  transition: top 0.3s;
  font-size: 0.9em;
}

.inlog-box:nth-child(2) input {
  padding-right: 1.8rem;
}

.inlog-check {
  margin-bottom: 1.5rem;
}

.inlog-check,
.inlog-check__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inlog-forgot {
  color: var(--Aqua-green);
}

.inlog-check__label,
.inlog-forgot,
.inlog-register {
  font-size: 0.8rem;
}

.inlog-button {
  width: 100%;
  padding: 1rem;
  background-color: none;
  border: 2px solid var(--Aqua-green);
  border-radius: 1.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--Aqua-green);
  font-weight: 700;
  text-align: center;
}

.inlog-button:hover {
  background-color: var(--Aqua-green);
  color: white;
  border: 2px solid var(--Aqua-green);
}

@media screen and (min-width: 576px) {
  .formulier {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }

  .formulier {
    position: relative;
    background-color: white;
    border: none;
    margin-top: -5em;
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    margin-left: 35%;
  }
}

/* -----TEST ANIMATION----- */

h1 {
  position: relative;
  color: var(--Black);
  opacity: 0;
  transition: 0.8s ease-in-out;
}

#progress {
  position: absolute;
  background: #0069ec;
  height: 100vh;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.center {
  height: 100vh;
  background-color: #73aea6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******
  Form
 ******/

#register {
  background: #fff;
  position: relative;
  width: 410px;
  padding: px 15px 20px 15px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease-in-out;
}

body {
  margin: 0;
  /* background: #25a3ff; */
  /* font-family: "Roboto", sans-serif; */
}

h1 {
  position: relative;
  color: #fff;
  opacity: 0;
  transition: 0.8s ease-in-out;
}

#progress {
  position: absolute;
  background: #0069ec;
  height: 100vh;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******
  Form
 ******/

#register {
  background: #fff;
  position: relative;
  width: 410px;
  padding: 2px 15px 20px 15px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease-in-out;
}

#register.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.8s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0);
}

.next {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  color: #25a3ff;
  float: right;
  cursor: pointer;
}

.next:hover {
  color: #333;
}
.wrong .next {
  color: #ff2d26;
}
.close .next {
  color: #fff;
}

#inputContainer {
  position: relative;
  opacity: 0;
  width: 350px;
  margin-top: 25px;
  transition: opacity 0.3s ease-in-out;
}

body {
  margin: 0;
  /* background: #25a3ff; */
  /* font-family: "Roboto", sans-serif; */
}

h1 {
  position: relative;
  color: #fff;
  opacity: 0;
  transition: 0.8s ease-in-out;
}

#progress {
  position: absolute;
  background: #0069ec;
  height: 100vh;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****** Form ******/

#register {
  background: #fff;
  position: relative;
  width: 410px;
  padding: 2px 15px 20px 15px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease-in-out;
}

#register.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.8s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0);
}

.next {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  color: #25a3ff;
  float: right;
  cursor: pointer;
}
.next:hover {
  color: #333;
}
.wrong .next {
  color: #ff2d26;
}
.close .next {
  color: #fff;
}

#inputContainer {
  position: relative;
  opacity: 0;
  width: 350px;
  margin-top: 25px;
  transition: opacity 0.3s ease-in-out;
}

#inputContainer input {
  width: 100%;
  padding: 0 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow: none;
}

#inputLabel {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
  transition: 0.2s ease-in-out;
}

#inputContainer input:valid + #inputLabel {
  top: -15px;
  font-size: 11px;
  font-weight: normal;
  color: #9e9e9e;
}

#inputProgress {
  position: absolute;
  border-bottom: 2px solid #25a3ff;
  padding: 3px 0;
  width: 0;
  transition: width 0.6s ease-in-out;
}

.wrong #inputProgress {
  border-color: #ff2d26;
}
